# Скопируйте в .env.local и заполните значения.
# .env.local в git не попадает.

YANDEX_CALENDAR_EMAIL=
YANDEX_OAUTH_TOKEN=
YANDEX_EVENTS_CALENDAR_ID=events-35737546
YANDEX_TODOS_CALENDAR_ID=todos-7647328
